script(src='/js/common/nav.js')
link(rel='stylesheet' href='/css/common/nav.css')

nav#nav(class='navbar navbar-default')
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') 
				// img(src='/img/TGA.png' style='height: 25; width: 25;')
				span  Light Bright
		#myNavbar.collapse.navbar-collapse
			.nav.navbar-nav
				li#home
					a(href='/' onclick='homeButton()') Home
				//li#sale
					a(href='/sale' onclick='saleButton()') Sale
				//li#items
					a(href='/items' onclick='itemsButton()') Items
				//li#reports
					a(href='/reports' onclick='reportsButton()') Reports
			ul.nav.navbar-nav.navbar-right
				//li#barcode
					a(href='/barcode' onclick='saleButton()') Barcode
				//li#add_user
					a(href='/add_user' onclick='saleButton()') Add User
				//li#search
					a(href='/search' onclick='saleButton()') Search
				li#logout
					a(href='/logout' onclick='') Logout